<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>All Contact Messages</h1>
</header>

<main>
    <ul>
        <li th:each="message : ${messages}">
            <strong th:text="${message.name}">Name</strong>:
            <em th:text="${message.email}">Email</em><br>
            <p th:text="${message.message}">Message</p>
        </li>
    </ul>
</main>
</body>
</html>
